*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navBarDireita {
  display: flex;
  justify-content: end;
}

.imageLogin {
  display: flex;
}

.navBarTotal {
  display: flex;
  justify-content: center;
  background-color: rgb(51, 48, 48);
  flex-direction: row;
  align-items: center;
}

.navBarTotal a {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  color: tomato;
  text-align: center;
  font-size: 60px;
}

.navBarTotal h1 {
  display: flex;
  justify-content: center; 
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 40px;
}

.T {
  color: tomato;
}